.myModal {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}



